<section class="quick-links">
  <div class="container card">
    <h1>{{category.name}}</h1>
    <p>Escolha uma seção ou use a busca para encontrar o conteúdo desejado.</p>
    <p><a class="btn btn--primary" href="{{help_center.url}}/hc/{{help_center.locale}}/search">Pesquisar na categoria</a></p>
  </div>
</section>
