<section class="quick-links">
  <div class="container card">
    <h1>Busca</h1>
    <p>Use a pesquisa da Central de Ajuda para localizar artigos e tópicos.</p>
    <p><a class="btn btn--primary" href="{{help_center.url}}/hc/{{help_center.locale}}/search">Abrir pesquisa</a></p>
  </div>
</section>
