<section class="quick-links">
  <div class="container">
    <h1>{{section.name}}</h1>
    <div class="cards">
      {{#each section.articles}}
        <article class="card">
          <h3><a href="{{url}}">{{title}}</a></h3>
          <p>{{excerpt body characters=120}}</p>
        </article>
      {{/each}}
    </div>
  </div>
</section>
