<section class="quick-links">
  <div class="container card">
    <h1>{{section.name}}</h1>
    <p>Conteúdos desta seção podem ser consultados pela busca da Central de Ajuda.</p>
    <p><a class="btn btn--primary" href="{{help_center.url}}/hc/{{help_center.locale}}/search">Pesquisar artigos</a></p>
  </div>
</section>
